body{
    margin: 0;
}
h2{
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    line-height: 53px;
}
h3{
    font-size: 32px;
    font-weight: bold;
    margin: 42px auto 0;
    line-height: 53px;

}
.apple-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 44px;
    backdrop-filter: blur(15px);
    background-color: rgba(245,245,247, 0.8);
    padding: 0 22px;
    .apple-nav-list{
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.8);
        height: 100%;
        justify-content: space-between;
    a{
        font-size: 12px;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.8);
    }
    }
}
.apple-main{
    padding-top: 44px;
    .apple-announcement{
        display: flex;
        height: 44px;
        justify-content: center;
        font-size: 14px;
        align-items: center;
        a{
            color: #0066cc;
            text-decoration: none;
            &:hover{ text-decoration: underline;}
        }
    }
    .apple-primary-goods {
        gap: 14px;
        display: grid;
        grid-auto-rows: 570px;

        p {
            font-size: 22px;
            margin: 5px 0 0;
        }

        > div {
            text-align: center;
            background-position: center;
            background-size: cover;
        }

        .btn-list {
            margin-top: 18px;
            display: flex;
            justify-content: center;
            gap: 20px;

        }

        .iphone-details {
            text-align: center;
            background-position: center;
            background-size: cover;
            background-image: url("img/123.jpg");
        }

        .holiday-details {
            text-align: center;
            background-position: center;
            background-size: cover;
            background-image: url("img/321.jpg");

            .info-list {
                display: flex;
                flex-direction: column;
                justify-content: end;
                height: 100%;
                box-sizing: border-box;
                padding: 53px 0 62px;
            }


        }

        .ipad-details {
            text-align: center;
            background-position: center;
            background-size: cover;
            background-image: url("img/12x.jpg");

            .iPea-logo {
                width: 170px;
                height: 39px;
                display: inline-block;
                background-size: 170px 39px;
                background-repeat: no-repeat;
                background-image: url("/img/4x.png");
            }
        }
        .solid-btn{
            border: 1px solid transparent;
            background-color: rgb(0,113,227);
            color:white;
            padding: 11px 21px;
            border-radius: 999px;
            cursor: pointer;
            &:hover{
                background-color: rgb(34,132,227);
            }
        }
        .plain-btn{
            color:  rgb(0,113,227);
            padding: 11px 21px;
            border-radius: 999px;
            border: 1px solid  rgb(0,113,227);
            cursor: pointer;
            &:hover{
                background-color: rgb(0,132,227);
                color: white;
            }

        }

    }
    .apple-secondary-goods{
        display: grid;
        grid-auto-rows: 490px;
        grid-template-columns: repeat(3 , 1fr);
        gap: 14px;
        margin: 14px;
        >div{
            text-align: center;
            background-position: center;
            background-size: cover;
        }
        .btn-list{
            margin-top: 18px;
            display:flex ;
            justify-content: center;
            gap: 15px;

        }
        .airpods-details{
            background-image: url("img/airpodspro.jpg");
        }
        .apple-watch-details{
            background-image: url("img/1hero_apple_watch.jpg");
            .apple-logo-logo{
                width: 330px;
                height: 29px;
                display: block;
                background: url("img/hero_logo_apple_watch.png") center/233px 29px no-repeat;
                margin: auto;
            }
        }
        .ipad-pro-details{
            color: white;
            background-image: url("img/promo_ipad_pro.jpg");
            /*background-size: cover; !* 或 contain，根据效果调整 *!*/
            /*background-position: center;*/
            /*background-repeat: no-repeat;*/
            /*height: 187.333px; !* 使用官网的高度 *!*/
            /*width: 100%; !* 或具体宽度 *!*/
            /*position: relative;*/
            /*z-index: 4;*/

        }
        .macbook-pro-details{
            color: white;
            background-image: url("img/promo_macbook_pro.jpg");
        }

        .solid-btn{
             font-size: 14px;
             border: 1px solid transparent;
             background-color: rgb(0,113,227);
             color:white;
             padding: 11px 21px;
             border-radius: 999px;
             cursor: pointer;
             &:hover{
                 background-color: rgb(34,132,227);
             }
         }
        .plain-btn{
            font-size: 14px;
            color:  rgb(0,113,227);
            padding: 7px 15px;
            border-radius: 999px;
            border: 1px solid  rgb(0,113,227);
            cursor: pointer;
            &:hover{
                background-color: rgb(0,132,227);
                color: white;
            }

        }

    }
    footer{
        padding:0 22px;
        background-color: rgb(245,245,247);
        .split-line {
            height: 1px;
            margin: 16px 0;
            background-color: #bcbcbc;
        }
        ul{
            font-size: 11px;
            color:  rgb(0,0,0,0.56);
            list-style: none; /* 移除默认列表符号 */
            margin: 0;
            padding: 17px 0 11px;
            li{padding-bottom:10px;}
        }
        .link-grid{
            display: grid;
            grid-template-columns: repeat(5,1fr) ;
            .link-list {
                font-size: 12px;
                li{color: rgb(0,0,0,0.8);}
                .title{font-weight: bold}
            }
        }
        .apple-end{
            font-size: 11px;
            color:  rgb(0,0,0,0.56);
            padding: 37px 0 11px
        }
    }
}

