/*.card-modal{*/
/*    !*居中*!*/
/*    !*display: flex;*!*/
/*    !*justify-content: center;*!*/
/*    !*align-items: center;*!*/

/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background-color: rgba(4, 2, 2, 0.29);*/
/*    .card-body{*/

/*        width: 300px;*/
/*        height: 400px;*/
/*        background-color: white;*/
/*        border-radius: 15px;*/
/*        !*居中*!*/
/*        position: absolute;*/
/*        transform: translate(-50%,-50%);*/
/*        left: 50%;*/
/*        top: 50%;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*        !*align-items: center;*!*/
/*        .dialog-card__header{*/
/*            padding: 10px 15px;*/
/*            text-align: center;*/
/*            !*也可以align-items: center;…*!*/
/*            border-bottom: 1px solid rgba(4, 2, 2, 0.29);*/
/*            !*边界线*!*/
/*        }*/
/*        .dialog-card__content{*/
/*            flex: 1;*/
/*            font-size: 14px;*/
/*            !*文本-字体*!*/
/*        }*/
/*        .dialog-card__footer{*/
/*            button{*/
/*                background-color: #877d7d;*/
/*                border-radius: 15px;*/
/*                color: #0066cc;*/
/*            }*/
/*            padding: 10px 15px;*/
/*            text-align: center;*/
/*            !*也可以align-items: center;…*!*/
/*            border-radius: 19px;*/
/*        }*/


/*    }*/
/*}*/
/*h4{*/
/*    margin: 0;*/
/*}*/
/*表格样式*/
/*table,th,td{*/
/*    border: 1px solid rgb(221, 0, 255);*/
/*}*/
/*比例尺寸*/
/*.container{*/
/*    width: 100%;*/
/*    aspect-ratio: 16 / 9;*/
/*    iframe{*/
/*        width: 100%;*/
/*        height: 100%;*/
/*    }*/
/*}*/
/*滚动穿透*/
